@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

.title {
  font-size: 4rem;
  padding-bottom: 60px;
  font-family: 'Manjari', sans-serif;
}
.title-sub {
  font-size: 2rem;
  padding-bottom: 30px;
}
.button {
  width: 200px;
  padding: 5px;
  font-size: 25px;
}
.button-padding{
  padding: 30px;
}

.table-transaction {
  padding-top: 40px
}
